// Solid Colors ---------------
$white: #ffffff;
$black: #181b1c;
$black-2: #1e2223;
$grey: #808080;
$grey-2: #777777;
$grey-3: #ededed;
$theme-color: #aa8453;

// Topbar Colors ---------------
$bg-1: #181b1c;
$bg-2: #f8f5f0;
$bg-3: #f8f8f8;

//Font Colors ----------------
$font-color: #181b1c;
$topbar-font-color: #f0f0f0;
//Icon color -----------------
$icon-color: #aa8453;

//Button Colors
$btn-1: #1e2223;
$btn-2: #aa8453;

// Footer Colors ---------------
$footer-bg: #000;

// basic color
$r-pink: #000;

// Text Colors ---------------
$body-text: #000;
$span-text: #a0a7a9;

// Border Colors ---------------
$border: #000;
$border-2: #e2e2e2;
$border-3: #e8e8e8;
// Heading Colors ---------------
$heading-color: #000;
